<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Samy</title>
	<link rel="stylesheet" href="view/client/client.css?v=6874984465as5d15as1cas4ca4sc8a4sc1as54c">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link rel="icon" href="assets/img/favicon.jpeg" type="image/x-icon">
</head>

<body class="">
	<!-- <img src="assets/img/logo.png" alt="Logo-Image" class="Image-Logo-GBI" /> -->
	<main class="main">
		<section id="section-1-id" class="section-1 display-none">
		</section>

		<section id="section-2-id" class="section-2 display-none">

			<div class="fondo">
				<div class="head">
					<div class="container-arrowtop">
						<h3 class="text-tuspedidos">Tus Pedidos</h3>
						<span><i class="uil uil-arrow-up"></i><span>
					</div>
					<!-- <div class="contenedor-Nombre-Tabla">
						<h2 class="Nombre"></h2>
					</div> -->
					<div id="progress-bar">
						<ul id="status" class="hidden">
						<li class="demo">
							<i class="icon uil uil-calendar-alt"></i>
							<div class="progress one">
								<p>1</p>
								<i class="uil uil-check"></i>
							</div>
							<div class="info_data">
									<p class="text_barra state-1"></p>
									<p class="release-date"></p>
								</div>
							
						</li>
						<li>
							<i class="icon uil uil-hourglass"></i>
							<div class="progress two">
								<p>2</p>
								<i class="uil uil-check"></i>
							</div>
							<div class="info_data">
									<p class="text_barra state-2"></p>
									<p class="release_order"></p>
						</div>
						</li>
						<li>
							<i class="icon uil uil-truck"></i>
							<div class="progress three">
								<p>3</p>
								<i class="uil uil-check"></i>
							</div>
							<div class="info_data">
									<p class="text_barra state-3"></p>
									<p class="date_start"></p>
									<p class="guide"></p>
						</div>
						</li>
						<li>
							<i class="icon uil uil-smile"></i>
							<div class="progress four">
								<p>4</p>
								<i class="uil uil-check"></i>
							</div>
							<div class="info_data">
									<p class="text_barra text_deliver"></p>
									<p class="state-4"></p>
						</div>
						</li>
					</ul>
			</div>

					<div class="mensaje-error">
						<h2>No tenemos pedidos para mostrar en los últimos 2 meses</h2>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>
									Límite Crédito
								</th>
								<th>
									Deuda Total
								</th>
								<th>
									Días Mora
								</th>
								<th>
									Cupo Disponible 
								</th>
							</tr>
						</thead>
						<tbody id="data-wallet">
						</tbody>
					</table>
				</div>
				
				
				
		<div class="container-buttons">
			<div class="container-links">
				<a href="#" target="_blank" class="link-detalle button"> Ver Detalle Pedido</a>
				<a href="#" target="_blank" class="link-cartera button">Ver Cartera</a>
				<a href="https://checkout.wompi.co/l/a47vPE" class="link-cartera">Pague aquí</a>
			</div>
					<a href="#" target="_blank" class="link-salir button">Salir</a>
				</div>
			</div>
		</section>
	</main>

	<script type="module" src="view/client/client.js?v=6874984465as5d15as1cas4ca4sc8a4sc1as4332"></script>
</body>
</html>
