<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="order.css?v=123123" />
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link rel="icon" href="../../assets/img/favicon.jpeg" type="image/x-icon">
	<title>Order</title>
</head>

<body>
	<div class="contenedorPadre_imagen">
		<div class="contenedor_imagen">
			<img class="image-samy" src="../../assets/img/samy-black.png" alt="imagen-fondo" />
		</div>
	</div>
	<main>
		<div class="responsive_tabla">
		<table>
			<caption>
				<div class="contenedor_icon_info_llamada">
					<h3 id="order_data">
					</h3>
				</div>
			</caption>	
				<thead>
					<tr>					
						<th>
							Articulo
						</th>
						<th>
							Descripción
						</th>
						<th>
							Cantidad
						</th>
					</tr>
				</thead>
				<tbody id="data">
				</tbody>
		</table>
			</div>
	</main>

	<script type='module' src="order.js?v=6874984465as5d15as1cas4ca4sc8a4sc1as54c"></script>
</body>


</html>



